/doc/nbproject/private/
/doc/dist/
/doc/build/
/DoctrisSystem-main/WebApplication1/nbproject/private/
/DoctrisSystem-main/WebApplication1/build/
/DoctrisSystem-main/WebApplication1/dist/
/DoctrisSystem-main/ClinicBooking-codebyDoanSon/WebApplication1/dist/
/WebApplication1/nbproject/private/
/DoctrisSystem-main/ClinicBooking-codebyVietAnh/booking_clinic/build/
/DoctrisSystem-main/ClinicBooking-codebyVietAnh/booking_clinic/dist/
/DoctrisSystem-main/ClinicBooking-codebyVietAnh/booking_clinic/nbproject/private/
/DoctrisSystem-main/ClinicBooking-codebyDoanSon/WebApplication1/nbproject/private/
/DoctrisSystem-main/ClinicBooking-codebyDoanSon/WebApplication1/build/
/DoctrisSystem-main/ClinicBooking-codebyVietAnh/Github_code/WebApplication1/dist/
